<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sing up</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/authPage.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/" class="logo">
          <h1>SiwFood</h1>
        </a>
        <i class="bx bx-menu toggle-menu-btn" id="menu-icon"></i>

        <ul class="navbar">
          <li><a class="link" href="/">Home</a></li>
          <li><a class="link" href="/ricette">Ricette</a></li>
          <li><a class="link" href="/cuochi">Cuochi</a></li>
          <a class="link" th:if="${userDetails}" href="/logout">
            <i class="bx bxs-log-out header-icon"></i>
          </a>
          <a class="link" th:unless="${userDetails}" href="/login">
            <i class="bx bxs-log-in header-icon"></i>
          </a>

          <a href="/profilePage">
            <li th:if="${cuoco}" class="profile-image">
              <img
                th:src="@{'data:image/jpeg;base64,'+${cuoco.profileImage.generateBase64Image()}}"
                alt="immagine del cuoco"
              />
            </li>
          </a>
          <div th:if="${userDetails}">
            <a href="/profilePage">
              <li th:unless="${cuoco}" class="profile-image-user">
                <img
                  src="/images/userProfile.png"
                  alt="immagine del professore"
                />
              </li>
            </a>
          </div>
        </ul>
      </div>
    </header>

    <div class="container">
      <div class="form-container">
        <h1 class="title">Register</h1>
        <form
          th:action="@{/register}"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="input-div">
            <input
              class="input input-username"
              type="text"
              placeholder="Nome..."
              required
              th:field="${user.name}"
            />
            <span
              th:if="${#fields.hasErrors('user.name')}"
              th:errors="${user.name}"
              th:style="'color:red'"
            >
            </span>
          </div>
          <div class="input-div">
            <input
              class="input input-username"
              type="text"
              placeholder="Cognome..."
              required
              th:field="${user.surname}"
            />
            <span
              th:if="${#fields.hasErrors('user.surname')}"
              th:errors="${user.surname}"
              th:style="'color:red'"
            >
            </span>
          </div>
          <div class="input-div">
            <input
              class="input"
              type="text"
              placeholder="Email..."
              required
              th:field="${user.email}"
            />
            <span
              th:if="${#fields.hasErrors('user.email')}"
              th:errors="${user.email}"
              th:style="'color:red'"
            >
            </span>
          </div>
          <div class="input-div">
            <input
              class="input"
              type="text"
              placeholder="Username..."
              required
              th:field="${credentials.username}"
            />
          </div>
          <span
            th:if="${#fields.hasErrors('credentials.username')}"
            th:errors="${credentials.username}"
            th:style="'color:red'"
          >
          </span>

          <div class="input-div">
            <input
              class="input"
              type="password"
              placeholder="Password..."
              required
              th:field="${credentials.password}"
            />
          </div>
          <span
            th:if="${#fields.hasErrors('credentials.password')}"
            th:errors="${credentials.password}"
            th:style="'color:red'"
          >
          </span>

          <div class="btn-div">
            <button class="btn-form btn-login" type="submit">Registrati</button>
            <a class="btn-form btn-register" th:href="@{/login}">Accedi</a>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="/js/app.js"></script>
</html>
